.form {
  &__option {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__title {}

  &__name {}

  &__textarea {}

  &__date {}

  &__date-block {
    display: flex;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 120px;
    color: $white;
    border-radius: 12px;
    background-color: $blue;
  }

  &__link {
    padding: 12px 20px;
  }
}