.nav {
  &__list {
    display: flex;
  }

  &__item {
    padding: 12px;
    display: flex;
    align-items: center;
    height: 40px;

    &:not(:last-child) {
      margin-right: 16px;
    }

    &--active {
      border-radius: 12px;
      background-color: $blue;
      color: $white;
    }
  }

  &__link {
    padding: 12px 0;
  }

  &__icon {
    margin-right: 4px;
    padding: 12px 0;

    width: 20px;
    opacity: .6;
  }
}