// COLORS:
$dark-grey: #505050;
$grey: #d0d0d0;
$white: #fff;
$blue: #19c7dc;
$blue--hover: #149fb0;
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

// SIZES:
$border-radius: 20px;
$border-radius--small: 12px;